
@{
    ViewBag.Title = "Search";
}
<script src="~/Scripts/require.js" type="text/javascript" data-main="/app/main.js"></script>
<h2>Search</h2>

<div ng-controller="mainController" class="viewport">
    <div ng-view></div>
</div>